<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/balzss/luxbar/ae5835e2/build/luxbar.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.5.0/css/lightgallery-bundle.min.css">
  <title>Rugs & Kilims</title>
</head>

<body>

  <div class="luxbar luxbar-fixed">
    <input type="checkbox" id="luxbar-checkbox" class="luxbar-checkbox">
    <div class="luxbar-menu luxbar-menu-right luxbar-menu-light">
      <ul class="luxbar-navigation" id="grid-filter">
        <li class="luxbar-header">
          <a class="luxbar-brand" href="./">RUGS & KİLİMS</a>
          <label class="luxbar-hamburger luxbar-hamburger-doublespin" for="luxbar-checkbox"> <span></span> </label>
        </li>
        <li class="luxbar-item" data-category="*"><a href="javascript:void(0)">ALL</a></li>
        <li class="luxbar-item" data-category="rug"><a href="javascript:void(0)">RUG</a></li>
        <li class="luxbar-item" data-category="kilim"><a href="javascript:void(0)">KİLİM</a></li>
        <li class="luxbar-item" data-category="other"><a href="javascript:void(0)">OTHER</a></li>
      </ul>
    </div>
  </div>

  <div class="search">
    <input type="text" id="searchbox" placeholder="Search for carpets & rugs">
  </div>
  <div class="count">
    <small id="item_count" class="item_count">Listing * item(s)...</small>
  </div>


  <div class="content">
    <div id="masonry-grid"></div>
  </div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-JavaScript-Templates/3.20.0/js/tmpl.min.js"></script>
<script type="text/x-tmpl" id="tmpl-demo">
  <div class="gutter-sizer"></div>
  {% for (var i=0; i<o.length; i++) { %}
  <div class="dynamic-gallery-selector">
    <div class="grid-item {%=o[i].type2%}" data-id="{%=o[i].id%}" data-d1="{%=o[i].d1%}" data-d2="{%=o[i].d2%}" data-area="{%=o[i].area%}" data-type="{%=o[i].type%}" data-type2="{%=o[i].type2%}" data-district="{%=o[i].district%}" data-model="{%=o[i].model%}" data-age="{%=o[i].age%}">
      <img class="lozad" src="./img/80/{%=o[i].id%}.jpg" data-src="./img/400/{%=o[i].id%}.jpg" alt="{%=o[i].id%}">
      <div class="info">
        <span class="info_text">{%=o[i].district%}{% if (o[i].model) { %} - {%=o[i].model%} {% } %}</span>
      </div>
    </div>
  </div>
  {% } %}
  <div class="gutter-sizer"></div>
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.5.0/lightgallery.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.5.0/plugins/thumbnail/lg-thumbnail.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.5.0/plugins/zoom/lg-zoom.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lightgallery@2.5.0/plugins/fullscreen/lg-fullscreen.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/5.0.0/imagesloaded.pkgd.min.js"></script>
<script src="js/app.js"></script>



</html>