@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

body {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
}

.content {
    margin-top: 40px;
}

#masonry-grid {
    margin: 0 auto;
}

.grid-item {
    width: 289px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 0.5px;
    border-color: grey;
    background-color: #e0e0e0;
    cursor: pointer;
}

.grid-item img {
    width: 100%;
    max-width: 289px;
}

.info {
    height: 40px;
    background-color: #e0e0e0;
    padding-left: 5px;
}

.info_text {
    font-size: 1.6em;
}


.search {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 90px;
    border: 2px solid #9D5543;
    overflow: auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.search input[type="text"] {
    border: 0px;
    width: 100%;
    padding: 10px 10px;
}

.search input[type="text"]:focus {
    outline: 0;
}



/* ===========================
   ====== Medua Query for Search Box ====== 
   =========================== */

@media only screen and (min-width : 150px) and (max-width : 780px) {
    .search {
        margin: 0 auto;
        margin-top: 80px;
    }

}

.count {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 3px;
}

.count_small {
    padding-left: 10px;
}

span.deleteicon {
    display: inline-flex;
    align-items: center;
    width: 100%;
}

span.deleteicon span {
    position: sticky;
    display: block;
    right: 15px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: #fff;
    background-color: #9d5543;
    font: 13px monospace;
    text-align: center;
    line-height: 1em;
    cursor: pointer;
}

span.deleteicon input {
    padding-right: 18px;
    box-sizing: border-box;
}

#searchbox {
    font-family: 'Amatic SC', cursive;
    font-size: 1em;
    font-weight: 700;
}

#searchbox::-webkit-input-placeholder {
    font-family: 'Amatic SC', cursive;
    font-weight: 400;
}

#searchbox:-ms-input-placeholder {
    font-family: 'Amatic SC', cursive;
    font-weight: 400;
}

#searchbox:-moz-placeholder {
    font-family: 'Amatic SC', cursive;
    font-weight: 400;
}

#searchbox::-moz-placeholder {
    font-family: 'Amatic SC', cursive;
    font-weight: 400;
}

.item_count {
    font-size: 1.2em !important;
    padding-left: 10px;
}

.lightGallery-captions {
    font-family: 'Amatic SC', cursive;
    font-weight: 400;
}

p.caption1 {
    font-size: 1.6em !important;
}

p.caption2 {
    font-size: 1.2em !important;
}

.luxbar-brand {
    font-size: 2em !important;
}

.luxbar-item a {
    font-size: 1.5em;
}